[user]
    email = yen.yenchih.liao@gmail.com
    name = yenchihliao
[alias]
    b = branch
    co = checkout
    com = checkout main
    cm = commit -m
    ca = commit --amend
    cp = cherry-pick
    cpn = cherry-pick --no-commit
    cbn = symbolic-ref --short HEAD # current branch name
    d = diff
    dh = diff HEAD^
    dhn = diff HEAD^ --name-only
    dm = diff main
    dmn = diff main --name-only
    dc = diff --cached
    dw = diff --word-diff
    dn = diff --name-only
    fo = fetch origin
    l = log --graph --oneline
    m = merge
    ms = merge --squash
    pl = pull
    ps = push
    pp = push --set-upstream origin HEAD
    r = rebase
    rc = rebase --continue
    ss = status -s
    sh = stash
    shp = stash show -p
    shn = stash show --name-only
    shl = stash list
    clone-s = clone --depth 1
    rv = remote -v
